h1 {
    color:black;
    font-size:50px;
    background-color:grey;
}  
h2 {
    font-size:80px;
    color:navy;
}
p {
    font-size:25px;
}
ul {
    font-size:25px;
}
.mess {
    font-size:50px;
    
}
button {
    position: relative;
    left:250px;
    top:-15px;
}