<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My second website</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
<h1>Witaj na mojej stronie domowej</h1>
<img src="https://i.ytimg.com/vi/knLz2-1Xq9o/mqdefault.jpg" alt="to ja w świecie równoległym" title="RickyTrailerParkboys">
<h2>Kontakt</h2>
<ul>
    <li>email:...</li>
    <li>telefon:...</li>
</ul>
<p1 class="mess"><strong>Wyslij wiadomość</strong></p1>
<h3></h3>
<h4></h4>
<h5></h5>
<form>
<textarea rows="3" cols="30"></textarea>
</form>
<button type="button" >Prześlij</button>
    </body>
</html>